<tr>
  <td>
    <%= page_index params[:page], book_counter,
      Settings.panigate.category %>
  </td>
  <td><%= book.name %></td>
  <td><%= book.quantity %></td>
  <td><%= book.quantity_borrowed %></td>
  <td>
    <%= link_to "#", data: { toggle: "modal", target: "#book-#{book.id}" } do %>
      <span class="badge rounded-pill bg-info text-dark">
        <i class="fas fa-eye"></i>
      </span>
    <% end %>
    <%= link_to "#" do %>
      <span class="badge rounded-pill bg-success">
        <i class="fas fa-edit"></i>
      </span>
    <% end %>
    <%= link_to "#" do %>
      <span class="badge rounded-pill bg-danger">
        <i class="fas fa-trash-alt"></i>
      </span>
    <% end %>
    <%= render "book_detail", book: book %>
  </td>
</tr>
