<tr>
  <td>
    <%= page_index params[:page], author_counter,
      Settings.panigate.category %>
  </td>
  <td><%= author.name %></td>
  <td><%= author.birth %></td>
  <td>
    <%= link_to "#" do %>
      <span class="badge rounded-pill bg-info text-dark">
        <i class="fas fa-eye"></i>
      </span>
    <% end %>
    <%= link_to "#" do %>
      <span class="badge rounded-pill bg-success">
        <i class="fas fa-edit"></i>
      </span>
    <% end %>
    <%= link_to "#" do %>
      <span class="badge rounded-pill bg-danger">
        <i class="fas fa-trash-alt"></i>
      </span>
    <% end %>
  </td>
</tr>
