<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
  <%= link_to admin_root_path, class:"brand-link" do %>
    <span class="brand-text font-weight-light"><%= t ".logo"%></span>
  <% end %>
<!-- Sidebar -->
  <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 652px;">
  <div class="sidebar" style="min-height: 652px; overflow: hidden; width: auto; height: 652px;">
    <!-- Sidebar user panel (optional) -->
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
      <div class="image">
        <%= image_tag "logo.jpg", class:"img-circle elevation-2", alt:"Logo" %>
      </div>
      <div class="info">
        <%= link_to t(".actor"), admin_root_path, class:"d-block" %>
      </div>
    </div>
    <nav class="mt-2">
      <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
        <li class="nav-item has-treeview menu-open">
          <a href="#" class="nav-link active">
            <i class="nav-icon fas fa-tachometer-alt"></i>
            <p>
              <%= t ".list"%>
              <i class="right fas fa-angle-left"></i>
            </p>
          </a>
          <ul class="nav nav-treeview">
            <li class="nav-item">
              <%= link_to admin_books_path, class:"nav-link active" do %>
                <i class="far fa-circle nav-icon"></i>
                <p><%= t ".book"%></p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_authors_path, class:"nav-link " do %>
                <i class="far fa-circle nav-icon"></i>
                <p><%= t ".author"%></p>
              <% end %>
            </li>
            <li class="nav-item">
              <%= link_to admin_categories_path, class:"nav-link " do %>
                <i class="far fa-circle nav-icon"></i>
                <p><%= t ".category"%></p>
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </nav>
  </div>
</aside>
