<tr>
  <td>
    <%= page_index params[:page], borrowing_counter,
      Settings.panigate.borrowing %>
  </td>
  <td><%= borrowing.borrow_code %></td>
  <td><%= borrowing.user_name %></td>
  <td class="updateBorrowing">
    <% if borrowing.pending? %>
      <span class="badge badge-pill badge-warning"><%= t ".pending" %></span>
    <% elsif borrowing.accept? %>
        <span class="badge badge-pill badge-primary"><%= t ".accept" %></span>
    <% elsif  borrowing.payed? %>
      <span class="badge badge-pill badge-secondary"><%= t ".payed" %></span>
    <% else %>
      <span class="badge badge-pill badge-secondary"><%= t ".cancel" %></span>
    <% end %>
  </td>
  <td>
    <% if borrowing.pending? || borrowing.cancel? %>
      <%= link_to "#" , data: { toggle: "modal", target: "#borrowing-#{borrowing.id}" } do %>
        <span class="badge rounded-pill bg-success">
          <i class="fas fa-eye"></i>
        </span>
      <% end %>
    <% else %>
      <%= link_to "#" , data: { toggle: "modal", target: "#borrowing_accepted_#{borrowing.id}" } do %>
        <span class="badge rounded-pill bg-success">
          <i class="fas fa-eye"></i>
        </span>
      <% end %>
    <% end %>
    <% if borrowing.pending? %>
      <%= link_to admin_borrowing_path(borrowing), method: :delete,
        remote: true, data: { confirm: "#{ t "borrowings.paying.confirm" }" },
        class: "delete_borrrowing" do %>
        <span class="badge rounded-pill bg-danger">
          <i class="fas fa-trash-alt"></i>
        </span>
      <% end %>
      <%= link_to admin_borrowing_path(borrowing), method: :patch,
        remote: true, data: { confirm: "#{ t "borrowings.paying.confirm" }",
          toggle: "tooltip" }, title: "#{ t ".title_1" }", class: "update_borrowing" do %>
          <i class="fas fa-edit"></i>
      <% end %>
    <% end %>
    <% if borrowing.accept? %>
      <%= link_to admin_borrowing_path(borrowing), method: :patch,
        remote: true, data: { confirm: "#{ t "borrowings.paying.confirm" }",
          toggle: "tooltip" }, title: "#{ t ".title_2" }", class: "update_borrowing" do %>
          <i class="fas fa-edit"></i>
      <% end %>
    <% end %>
    <%= render "book_pending", borrowing: borrowing %>
    <%= render "book_accept", borrowing: borrowing %>
  </td>
</tr>
