<tr>
  <td>
    <%= page_index params[:page], borrowing_counter,
      Settings.panigate.borrowing %>
  </td>
  <td><%= borrowing.borrow_code %></td>
  <td><%= borrowing.user_name %></td>
  <td class="updateBorrowing">
    <%= status_badges borrowing.status %>
  </td>
  <td>
    <%= time_ago_in_words borrowing.created_at %>
  </td>
  <td>
    <%= borrowing_detail borrowing, "fas fa-eye" %>
    <% if borrowing.pending? || borrowing.cancel? %>
      <%= render "book_pending", borrowing: borrowing %>
    <% else %>
      <%= render "book_accept", borrowing: borrowing %>
    <% end %>
    <% if borrowing.pending? %>
      <%= link_to admin_borrowing_path(borrowing), method: :delete,
        remote: true, data: { confirm: "#{ t "borrowings.paying.confirm" }" },
        class: "delete_borrrowing" do %>
        <span class="badge rounded-pill bg-danger">
          <i class="fas fa-trash-alt"></i>
        </span>
      <% end %>
    <% end %>
    <% if borrowing.pending? || borrowing.accept? %>
      <%= link_to admin_borrowing_path(borrowing), method: :patch,
        remote: true, data: { confirm: "#{ t "borrowings.paying.confirm" }",
          toggle: "tooltip" }, title: "#{ t ".title_2" }", class: "update_borrowing" do %>
          <i class="fas fa-edit"></i>
      <% end %>
    <% end %>
  </td>
</tr>
