<tr>
  <td><%= index + Settings.number %></td>
  <td><%= borrowing.borrow_code %></td>
  <td><%= borrowing.user_name %></td>
  <td><%= borrowing.date_borrow.strftime Settings.convert_date %></td>
  <td>
    <%= borrowing.date_pay.strftime Settings.convert_date %>
  </td>
  <td class="updateBorrowing">
    <%= link_to admin_borrowing_path(borrowing), method: :patch,
      remote: true, data: { confirm: "#{t "borrowings.paying.confirm"}" } do %>
      <span class="badge badge-pill badge-warning"><%= t "borrowings.paying.pay" %></span>
    <% end %>
  </td>
  <td>
    <%= link_to "#" , data: { toggle: "modal", target: "#borrowing-#{borrowing.id}" } do %>
      <span class="badge rounded-pill bg-success">
        <i class="fas fa-eye"></i>
      </span>
    <% end %>
    <%= render "borrowing", borrowing: borrowing %>
  </td>
</tr>
