<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1><%= t "borrowings.paying.content_1" %></h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <%= link_to t("borrowings.paying.home"), admin_root_path %>
          </li>
          <li class="breadcrumb-item active"><%= t "borrowings.paying.content_2" %></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<section class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <%= render "form_search" %>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="manage_borrowing" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th><%= t "borrowings.paying.id" %></th>
                <th><%= t "borrowings.paying.code" %></th>
                <th><%= t "borrowings.paying.name" %></th>
                <th><%= t "borrowings.paying.status" %></th>
                <th><%= t "borrowings.paying.action" %></th>
              </tr>
            </thead>
            <tbody>
              <%= render partial: "borrowing", collection: @borrowings %>
            </tbody>
          </table>
          <%= paginate @borrowings, theme: "twitter-bootstrap-4" %>
        </div>
      </div>
    </div>
  </div>
</section>
