<section class="content-header">
  <div class="container-fluid">
    <div class="row mb-2">
      <div class="col-sm-6">
        <h1><%= t "borrowings.paying.content_1" %></h1>
      </div>
      <div class="col-sm-6">
        <ol class="breadcrumb float-sm-right">
          <li class="breadcrumb-item">
            <%= link_to t("borrowings.paying.home"), admin_root_path %>
          </li>
          <li class="breadcrumb-item active"><%= t "borrowings.paying.content_2" %></li>
        </ol>
      </div>
    </div>
  </div><!-- /.container-fluid -->
</section>
<section class="content">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title"></h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body">
          <table id="example2" class="table table-bordered table-hover">
            <thead>
              <tr>
                <th><%= t "borrowings.paying.id" %></th>
                <th><%= t "borrowings.paying.code" %></th>
                <th><%= t "borrowings.paying.name" %></th>
                <th><%= t "borrowings.paying.time" %></th>
                <th><%= t "borrowings.paying.status" %></th>
              </tr>
            </thead>
            <tbody>
              <% Borrowing.accept.each_with_index do |br, index| %>
                <tr>
                  <td><%= index + Settings.number %></td>
                  <td><%= br.borrow_code %></td>
                  <td><%= br.user_name %></td>
                  <td><%= br.updated_at.strftime Settings.convert_date %></td>
                  <td class="updateBorrowing">
                    <%= link_to admin_borrowing_path(br), method: :patch, remote: true do %>
                      <span class="badge badge-pill badge-warning"><%= t "borrowings.paying.pay" %></span>
                    <% end %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>
