<tr>
  <td>
    <%= page_index params[:page], borrowing_counter,
      Settings.panigate.category %>
  </td>
  <td>
    <%= link_to "#" , data: { toggle: "modal",
      target: "#borrowingDetail-#{borrowing.id}"} do %>
      <%= borrowing.borrow_code %>
    <% end %>
    <%= render "borrowing_detail", borrowing: borrowing %>
  </td>
  <td><%= borrowing.books.size %></td>
  <td>
    <%= status_badges borrowing.status %>
  </td>
  <td>
    <%= borrowing&.date_pay&.strftime Settings.convert_date %>
  </td>
</tr>
