<header id="wn__header" class="header__area header__absolute sticky__header">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-6 col-sm-6 col-6 col-lg-2">
        <div class="logo">
          <%= link_to root_path do %>
            <%= image_tag "3.png"%>
          <% end %>
        </div>
      </div>
      <div class="col-lg-8 d-none d-lg-block">
        <nav class="mainmenu__nav">
          <ul class="meninmenu d-flex justify-content-start">
            <li class="drop with--one--item">
              <%= link_to t("books.show.title_1"), root_path %>
            </li>
            <li class="drop">
              <%= link_to "Books", books_path%>
              <div class="megamenu mega03">
                <ul class="item item03">
                  <li class="title">Categories</li>
                </ul>
                <ul class="item item03">
                  <li class="title">Authors</li>
                </ul>
                <ul class="item item03">
                  <li class="title">Publisher</li>
                </ul>
              </div>
            </li>
            <li class="drop"><a href="#">Page</a>
              <div class="megamenu mega03">
                <ul class="item item03">
                  <li class="title">FAVOURITE</li>
                </ul>
                <ul class="item item03">
                  <li class="title">Colection</li>
                </ul>
                <ul class="item item03">
                  <li class="title">Top Colection</li>
                </ul>
              </div>
            </li>
            <% if logged_in? %>
              <li class="drop"><a href="#">My Account</a>
                <div class="megamenu mega02">
                  <ul class="item item02">
                    <li class="title">Account Details</li>
                    <li><a href="shop-grid.html">Setting</a></li>
                    <li>
                      <%= link_to "Logout", logout_path, method: :delete %>
                    </li>
                  </ul>
                  <ul class="item item03">
                    <li class="title">Borrowing</li>
                    <li><a href="my-account.html">List Borrowing</a></li>
									</ul>
                </div>
              </li>
            <% end %>
            <li class="formSearch">
              <div class="input-group mb-3">
                <%= form_tag "/search", class: "form-inline", method: :get do %>
                  <%= text_field_tag :name, params[:name], class: "form-control mr-sm-2"%>
                  <div class="input-group-append">
                     <%= submit_tag "Search", class: "btn btn-outline-secondary" %>
                  </div>
                <% end %>
              </div>
            </li>
          </ul>
      </nav>
      </div>
      <div class="col-md-6 col-sm-6 col-6 col-lg-2">
        <ul class="header__sidebar__right d-flex justify-content-end align-items-center">
          <li class="wishlist"><a href="#"></a></li>
          <li class="shopcart" id="borrowingsSize">
            <%= link_to borrow_items_path , class:"cartbox_active" do %>
              <span class="product_qun"><%= session[:borrow_item] ? session[:borrow_item].length : 0 %></span>
            <% end %>
          </li>
          <% unless logged_in? %>
            <li class="nav-item dropdown setting__bar__icon">
              <%= link_to "", login_path, class:"nav-link dropdown-toggle setting__active"%>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</header>
